{erl_opts, [ debug_info
           , {src_dirs, ["src"]}
           , {platform_define, "^[1-9]", otp17orNewer}
           , {platform_define, "^((1[8-9])|[2-9])", otp18orNewer}
           ]}.

{pre_hooks, [{ct, "scripts/ut_as_ct.sh"}]}.

{cover_enabled, true}.

{clean_files, ["./ebin/*.beam", "./test/*.beam"]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls, deprecated_functions]}.
